*{
    padding: 0%;
    margin: 0%;
}
body{
    background: #ffd000;

}
#titel{
    margin-bottom: 50px;
}
.box{
    width: 150px;
    height: 100px;
    padding: 10px;
    border: 1px solid black;
}
.box_containar{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 10px;
}

#inputfilde{
    width: 200px;
    margin-left: 10px;
    padding: 10px;
}
#btn{
    padding: 10px;
}
.task{
    width: 100px;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #5d6161;
    background-color: #c7c7c7;
    color: #ffffff;
    border-radius: 5px;
}