*{
    padding: 0%;
    margin: 0%;
}

.titel{
    font-size: 50px;
    display: flex;
    justify-content: center;
    color: rgb(255, 123, 0);
    font-weight: 800;
}
.user_contrainer{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}